<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar"></div>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projects}">
				<td th:text="${project.code}" />
				<td th:text="${project.name}" />
			</tr>
		</tbody>
	</table>




	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>